.hide{
    display: none;
}

div{
    display: flex;
    gap: 100px;
    background-color: rgb(176, 161,211 );
    width: 70%;
    margin: auto;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0  0;
}
p{

    width: 71.7%;
    margin: auto;
   border: 1px solid transparent;
   border-radius:0 0 10px 10px;
   padding: 30px;
   box-sizing: border-box;
   background-color: rgb(242, 237, 237);
    transition: height 1s linear 71.7%;
}
button{
    background-color: transparent;
    border: none;
    color: white;
}
h1{
    color: white;
    margin: auto;
}